.elementCard {

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border: 1px solid var(--toneBoxShadow);
    border-radius: 10px;
    width: 100%;
    background-color: var(--toneWhite);
    box-shadow: 1px 1px 7px var(--toneBoxShadow);
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
}

#titleForm {
    color: var(--blueSky) !important;
}

.containerInputsForm {
    width: 100%;
    padding: 10px 8px 8px 8px;
    border-radius: 8px;
    background-color: var(--toneGreyBackground);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

/* radio styles */

.radio-container {
    display: inline-block;
    text-align: center;
    /* para centrar el texto debajo */
}

.radio-container input[type="radio"] {
    display: block;
    margin: 0 auto 5px;
    /* centra el radio y separa el texto */
}

input[type="radio"] {
    accent-color: var(--toneBlueTextSoftButtons);
    /* Cambia a cualquier color que necesites */
}


.labelTitleInput {
    padding: 5px 0px;
}

.headerCard {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    padding: 5px 10px;
    background-color: var(--toneBlueStrong);

}

.switch {

    line-height: 0px !important;
}

.switch .checkTypeSwitch {
    display: none;
    margin: 0px;
}

.slider {
    position: relative;
    display: inline-block;
    width: 46px;
    height: 24px;
    border: 2px solid var(--toneBlueTextSoftButtons);
    border-radius: 14px;
    cursor: pointer;
    transition: background-color 0.2s;
    z-index: 10;
}

.slider:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
    width: 14px;
    height: 14px;
    background-color: var(--toneBlueTextSoftButtons);
    border-radius: 50%;
    transition: transform 0.2s;
}

.checkTypeSwitch:checked+.slider {
    background-color: var(--toneBlueTextSoftButtons);
}

.checkTypeSwitch:checked+.slider:before {
    background-color: var(--background);
}

.checkTypeSwitch:checked+.slider:before {
    transform: translate(24px, -50%);
}

.lastChild {

    margin-left: auto !important;
}

.headerCard>label {

    color: var(--background);
}

.headerCard>label>span {

    color: var(--toneBlue);
    margin-left: 5px;
}

.rowMessage {
    display: none;
}

label.required::before {
    content: " *";
    color: red;
    font-weight: bold;
    font-size: 1.1rem;
    margin-right: 3px;
}

.rowRequire {

    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #FFF;
    display: none;
}

.rowComplete {
    border: 2px solid #FFF;
    box-shadow: 2px 2px 7px rgba(137, 238, 69, 0.3);
}

.rowWarning {
    border: 1px solid #b1020280;
    box-shadow: 2px 2px 7px rgba(234, 29, 2, 0.3);
}

.contentHeaderCuestion {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    margin-bottom: 8px;
}

.contentResponseCuestion {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 4px;
    gap: 10px;
    border-radius: 5px;
    background-color: var(--toneBlueSky);
    padding: 4px 8px;
    overflow: auto;
}

.contentTransparent {

    background-color: transparent !important;
}

.contentDocument {
    width: clamp(140px, 160px, 180px);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background-color: var(--toneBlueSky);
    border: 2px solid #FFF;
    border-radius: 5px;
    padding: 4px 8px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.contentDocument:hover {
    transform: scale(1.03);
    box-shadow: 4px 4px 10px rgba(51, 70, 99, 0.3);
}

.btnDownSection {

    border: none;
    height: 25px;
    width: 25px;
    background-color: transparent;
    background-image: url(../../img/icons/btnDown.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 12px 12px;
    transition: all 0.3s ease-in-out;
}

.labelSection {
    color: #FFF !important;
}

.btnDownSection:hover {
    transform: scale(1.08);
}

.btnChangeUp {
    transform: rotate(180deg);
}

.textStrong {
    font-weight: bold;
}

.bodyCardHide {

    height: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding-top: 10px;
    transition: all 0.3s ease-in-out;
    gap: 15px;
}

.viewCardHide {
    height: 100%;
}

.viewQuestions {
    display: flex;
}

.fileComponent {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid var(--toneBlueStrong);
    transition: all 0.3s ease-in-out;

}

.iconUpload {
    border-radius: 2px 0 0 2px;
    padding: 5px;
    width: 50px;
    height: 33px;
    background-image: url(../../img/icons/upload.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 23px;
    background-color: var(--toneBlueStrong);
}

.containerNameFile {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding-left: 15px;

}

.customFileInput {
    display: none;
}

.customFileInputLabel,
.customFileInputLabelModal {

    cursor: pointer;
    background-color: var(--toneBlue);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    text-align: center;

}

.label-category {
    color: var(--blueSky) !important;
}

.rotateDown {
    transform: rotate(180deg);
}

.btnInfo {

    width: 26px;
    height: 26px;
    background-image: url(../../img/icons/info.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 22px;
    margin-left: auto;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.content-row-docs {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

.container-document {
    min-width: 120px;
    max-width: 120px;
    min-height: 90px;
    max-height: 90px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.container-document:hover {
    transform: translateY(-3px);
    background-color: var(--fileBackground);
    border: 1px solid var(--toneBlueBack);
}

.document-selected {
    transform: translateY(-3px);
    background-color: var(--fileBackground);
    border: 1px solid var(--toneBlueBack);
    box-shadow: 1px 1px 8px var(--toneBlueStrong);
}

.icon-document {
    border-radius: 2px 0 0 2px;
    padding: 5px;
    width: 30px;
    height: 25px;
    background-image: url(../../img/icons/file.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-bottom: 5px;
}

.delete-doc {
    border-radius: 2px 0 0 2px;
    padding: 5px;
    width: 30px;
    height: 30px;
    background-image: url(../../img/icons/delete.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px;
    margin-left: auto;
}

.name-doc {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Máximo 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-height: 2.8em;
    word-break: break-all;
    /* 2 líneas de alto (2 x line-height) */
}

.content-notes {

    background-color: var(--toneBlueBack);
    border-radius: 8px;
    padding: 5px 10px;
}

/* Alert message */

.alert-response {
    padding: 10px;
    margin: 10px 5px;
    border-radius: 5px;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.alert-response.ok {
    background-color: #4caf4fb2;
    color: white;
    border: 1px solid #398f3c;
}

/* Estilo para el contenedor de la alerta *
/* Icono de éxito (puedes usar uno de Font Awesome o similar) */
.alert-response.ok .icon {
    margin-right: 10px;
}

/* Estilo para el mensaje */
.alert-response .message {
    flex-grow: 1;
}

/* Hover para el botón de cierre */
.alert-response .close-btn:hover {
    color: #dcdcdc;
}

.alert-response.error {
    background-color: #d62013de;
    color: white;
    border: 1px solid #f44336;
}

.fade-out {
    opacity: 0;
    transition: opacity 0.5s ease-out;
}

.container-documents {

    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;

}

.container-documents>.fileComponent {
    width: calc(100% - 80px);
}

.stepper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    max-width: 100%;
    overflow: auto;
}

.text-section {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    /* Máximo 2 líneas */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.4em;
    max-height: 2.8em;
    word-break: keep-all;
    /* 2 líneas de alto (2 x line-height) */
}

.element-line-sections {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 120px;
    min-width: 110px;
    min-height: 66px;
    cursor: pointer;

}

.step {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: lightgray;
    color: #fff;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    position: relative;
    z-index: 2;
    margin-bottom: 10px;
}

.step.done {
    background-color: green;
}

.step.active {
    background-color: var(--blueSky);
    animation: blink 2s infinite;
}

@keyframes blink {
    0% {
        background-color: var(--blueSky);
        /* El color de fondo inicial */
    }

    50% {
        background-color: transparent;
        /* El color de fondo en el medio (opcionalmente, puedes hacer que se vuelva transparente) */
    }

    100% {
        background-color: var(--blueSky);
        /* El color de fondo final */
    }
}